version: "3.8"

services:
  docker-db:
    image: postgres
    container_name: docker
    environment:
      POSTGRES_DB: docker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Manish@2009
    volumes:
      - docker-db-data:/var/lib/postgresql/data
    networks:
      - myNetwork


  docker:
volumes:
  #  same volume name as in services.docker-db.volumes
  docker-db-data:
networks:
  #  same network name as in services.docker-db.network
  myNetwork:




